.github/
.type-coverage/
.vscode/
src/
tests/

.editorconfig
.eslintcache
.gitattributes
.gitignore
.nvmrc
.prettierignore
.prettierignore
.prettierrc.js
.tsbuildinfo
eslint.config.js
tsconfig.eslint.json
tsconfig.json
*.js.map
*.tsbuildinfo
